<p id="notice"><%= notice %></p>
<h1>welcome</h1>

<% if current_user %>
  <h2>You are logged in, <%= link_to current_user.name, user_path(current_user.id) %></h2>
<% else %>
  <h2><%= link_to 'sign in with Google', '/auth/google' %></h2>
<% end %>
