<h1>edit veterinarian</h1>

<%= render 'form', veterinarian: @veterinarian %>
<br>

<div class="navbar">
  <%= link_to 'show', @veterinarian %>
  <%= link_to 'back', request.referer.present? ? request.referer : default_path %>
</div>