<h1>New Veterinarian</h1>

<% if current_user.try(:admin?) %>

  <%= render 'form', veterinarian: @veterinarian %>

<% else %>
  <h1>You must be an admin to view this page</h1>

<% end %>
<br>

<div class="navbar">
  <%= link_to 'Back', veterinarians_path %>
</div>