<p id="notice"><%= notice %></p>

<div class="container">

  <p>
    <strong>Name:</strong>
    <%= @veterinarian.name %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= @veterinarian.admin %>
  </p>

  <div class="navbar bottom">
    <%= link_to 'edit', edit_veterinarian_path(@veterinarian) %>
  </div>

</div>