<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @veterinarian.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @veterinarian.email %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @veterinarian.admin %>
</p>
