<div class="container">

  <h1>owner dashboard</h1>

  <h2>Welcome, <%= @user.name %></h2>

  <p>update your info if needed</p>
  <p class="alert">* add a password if you would like use the sign in page</p>

  <%= render 'form', user: @user %>

</div>