<h1>owner dashboard</h1>
<h2>Welcome, <%= @user.name %></h2>

<p>update your info if needed</p>
<%= render 'form', user: @user %>
<br>

<div class="navbar">
  <%= link_to 'Show', @user %>
  <%= link_to 'Back', users_path %>
</div>
